@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* The dark brown is basically black, so it has great contrast */
  --color-tufts-brown: #31261d;

  /* A darkened version of Tufts Blue that passes contrast checks for text */
  --color-tufts-blue: #255585;

  /* The bright official blue, to be used ONLY for backgrounds or thick borders */
  --color-tufts-blue-bright: #3e8ede;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
